html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  color: white;
  line-height: 1.3;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .navbar {
    padding-left: 1.05rem !important;
    padding-right: 1.05rem !important;
  }
  .navbar .headers__logo img {
    width: 10rem;
  }
}

@media (max-width: 63.9375em) {
  .helmet {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0rem 2rem !important;
  }
  .helmet .First__img {
    text-align: center;
  }
  .helmet .First__img img {
    width: auto;
    max-width: 100%;
    height: 300px;
  }
  .helmet .First__text {
    padding-top: 3rem;
    margin-left: 0;
  }
  .helmet .First__text h1 {
    text-align: center;
  }
}

@media (max-width: 63.9375em) {
  .flexing-colm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1rem;
  }
  .flexing-colm .second__first, .flexing-colm .second__second, .flexing-colm .second__third {
    background-size: cover;
  }
}

@media (max-width: 52em) {
  .check {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0rem 2rem !important;
  }
  .check .third__calibration {
    padding-left: 0;
  }
  .check .click {
    margin-top: 0 !important;
    margin-bottom: 4rem;
  }
}

@media (max-width: 63.9375em) {
  .product {
    padding: 0rem 0rem !important;
    display: block;
  }
  .product .fourth__product {
    position: relative;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    margin: 0rem !important;
  }
  .product .fourth__product h1 {
    font-size: 3.6rem;
  }
  .product .fourth__imgbody {
    margin-top: 4rem;
    padding: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product .fourth__imgbody img {
    height: 120px;
    width: 70px;
  }
  .product .fourth__imgbody p {
    display: none;
    padding: 0rem 0rem;
  }
  .product .fourth__imgbody h6 {
    font-size: 12px;
  }
  .product .fourth__imgbody .fourth__fire {
    padding: 0rem;
  }
}

@media (max-width: 63.9375em) {
  .earphone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0rem 2rem !important;
  }
  .earphone .fifth__img {
    margin-left: 0;
    text-align: center;
  }
  .earphone .fifth__img img {
    width: auto;
    max-width: 100%;
    height: 300px;
  }
  .earphone .fifth__text {
    padding-top: 3rem;
  }
  .earphone .fifth__text h1 {
    text-align: center;
  }
}

@media (max-width: 63.9375em) {
  .signing {
    padding: 0rem 0rem !important;
    display: block;
  }
  .signing button {
    margin-top: 1rem;
  }
}

@media (max-width: 63.9375em) {
  .contact {
    padding-left: 0rem !important;
    font-size: 10px;
  }
  .contact .eight__logo {
    display: none;
  }
  .contact .pad {
    padding-right: 1rem !important;
  }
  .contact .eight__personal {
    margin-right: 1rem;
  }
}

.foot {
  background: black;
  font-size: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 7rem;
}

.foot p {
  margin-bottom: 0;
}

@media (max-width: 63.9375em) {
  .foot {
    padding-left: 0rem !important;
  }
}

.headers {
  margin-bottom: 6rem;
  background: rgba(0, 0, 0, 0.3) url("/images/9.png");
  height: 550px;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.headers.open .headers__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.headers.open .headers__toggle > span:nth-child(2) {
  opacity: 0;
}

.headers.open .headers__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.headers.open .headers__links {
  display: -ms-inline-grid;
  display: inline-grid;
  position: fixed;
  background: darkgray;
  top: 96px;
  right: 80px;
  padding-top: 10px;
  left: 80px;
  text-align: center;
  /* background-image: none; */
  height: 280px;
  border-radius: 40px;
  font-size: 30px;
  padding-left: 1.8rem;
}

.headers.open .headers__links > a:last-child {
  right: 16px;
}

.headers.open .headers__links a:hover {
  background-image: none;
}

.headers nav {
  padding: 1.25rem 3.05rem;
}

.headers__logo img {
  width: 15rem;
  height: 3rem;
}

.headers__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.headers__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.headers__links a {
  position: relative;
  font-size: 13px;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  color: white;
}

.headers__links a:not(:last-child) {
  margin-right: 2rem;
}

.headers__links a::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  top: -25px;
  height: 30px;
  background-image: url(/images/8.png);
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.headers__links a:hover {
  color: #2d314d;
}

.headers__links a:hover::before {
  opacity: 1;
}

.headers__hero {
  text-align: center;
  margin-top: 12rem;
}

.headers__hero h1 {
  margin-bottom: 0;
  font-weight: 800;
  font-size: 2.7rem;
}

.headers__hero h3 {
  margin-top: 0;
  font-size: 24px;
  letter-spacing: 0.15rem;
  margin-left: 6px;
  margin-bottom: 20px;
}

.headers__hero button {
  color: white;
  background: red;
  padding: 0.6rem 1.3rem;
  border: none;
}

.headers__hero button:hover {
  color: red;
  background: white;
  border: 0.5px solid red;
  cursor: pointer;
}

.First {
  margin-bottom: 6rem;
}

.First .helmet {
  padding: 0rem 17rem;
}

.First__img img {
  max-width: 100%;
  width: 80rem;
  height: 23rem;
}

.First__text {
  line-height: 1.4rem;
  margin-left: 5.9rem;
}

.First__text h1 {
  margin: 0;
  color: #272525;
  font-size: 1.6rem;
  font-weight: 800;
}

.First__text p {
  color: gray;
  font-size: 11px;
  text-align: justify;
  font-weight: 500;
}

.First__text .red {
  margin-top: 2rem;
  color: white;
  background: red;
  padding: 1rem 1.7rem;
  border: none;
  -webkit-transition: color 600ms ease-in-out;
  transition: color 600ms ease-in-out;
}

.First__text .red:hover {
  color: red;
  background: white;
  border: 1px solid red;
  cursor: pointer;
  -webkit-transition: background 900ms ease-in-out;
  transition: background 900ms ease-in-out;
}

.First__text .white {
  color: red;
  background: white;
  padding: 1rem 1.7rem;
  border: 1px solid red;
  cursor: pointer;
  -webkit-transition: color 600ms ease-in-out;
  transition: color 600ms ease-in-out;
}

.First__text .white:hover {
  color: white;
  background: red;
  border: none;
  cursor: pointer;
  -webkit-transition: background 900ms ease-in-out;
  transition: background 900ms ease-in-out;
}

.second {
  margin-bottom: 6rem;
}

.second__first {
  position: relative;
  height: 300px;
  width: 100%;
  background-image: url("/images/14.png");
  background-size: 580px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second__first::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(248, 9, 9, 0.8);
}

.second__second {
  position: relative;
  height: 300px;
  width: 100%;
  background-image: url("/images/15.png");
  background-size: 580px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second__second::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.8);
}

.second__third {
  position: relative;
  height: 300px;
  width: 100%;
  background-image: url("/images/16.png");
  background-size: 580px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second__third::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(62, 62, 62, 0.8);
}

.values {
  padding: 50px;
  position: relative;
  text-align: center;
}

.values h4 {
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.values img {
  height: 76px;
  width: 76px;
  margin-bottom: 1.4rem;
}

.values p {
  font-size: 12px;
  line-height: 1.3rem;
}

.third {
  margin-bottom: 6rem;
}

.third .check {
  padding: 0 9rem;
}

.third__certificate {
  text-align: center;
}

.third__certificate img {
  width: auto;
  max-width: 100%;
  height: 300px;
}

.third__certificate h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #1d1c1c;
  font-weight: 800;
}

.third__certificate p {
  color: #1d1c1c;
  font-size: 14px;
  line-height: 1.5rem;
}

.third__calibration {
  text-align: center;
  padding-left: 7rem;
}

.third__calibration img {
  width: auto;
  max-width: 100%;
  height: 300px;
}

.third__calibration h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #1d1c1c;
  font-weight: 800;
}

.third__calibration p {
  color: #1d1c1c;
  font-size: 14px;
  line-height: 1.5rem;
}

.third .click {
  margin-top: 2rem;
  color: white;
  background: red;
  padding: 1rem 1.7rem;
  border: none;
  -webkit-transition: color 600ms ease-in-out;
  transition: color 600ms ease-in-out;
}

.third .click:hover {
  color: red;
  background: white;
  border: 1px solid red;
  cursor: pointer;
  -webkit-transition: background 900ms ease-in-out;
  transition: background 900ms ease-in-out;
}

.fourth {
  position: relative;
  background-image: url("/images/23.png");
  height: 500px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.fourth::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(14, 13, 13, 0.85);
}

.fourth .product {
  position: relative;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
}

.fourth__product {
  position: absolute;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  margin-top: 22.5rem;
  text-align: center;
}

.fourth__product h1 {
  font-size: 4rem;
  font-weight: 800;
}

.fourth__product h4 {
  font-size: 1.7rem;
  letter-spacing: 14px;
}

.fourth__btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.fourth__btn button {
  color: white;
  background: red;
  padding: 1rem 1.7rem;
  border: none;
  -webkit-transition: color 600ms ease-in-out;
  transition: color 600ms ease-in-out;
}

.fourth__btn button:hover {
  color: red;
  background: white;
  border: 1px solid red;
  cursor: pointer;
  -webkit-transition: background 900ms ease-in-out;
  transition: background 900ms ease-in-out;
}

.fourth__imgbody {
  padding: 2.5rem 2.5rem;
  text-align: center;
}

.fourth__imgbody img {
  height: 200px;
  width: 180px;
}

.fourth__imgbody p {
  font-size: 11.5px;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 1rem;
  line-height: 1.2rem;
}

.fourth__fire {
  padding-left: 12rem;
}

.fifth {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.fifth .earphone {
  padding: 0rem 17rem;
}

.fifth__img {
  margin-left: 5.9rem;
}

.fifth__img img {
  max-width: 100%;
  width: 80rem;
  height: 23rem;
}

.fifth__text {
  line-height: 1.4rem;
}

.fifth__text h1 {
  margin: 0;
  color: #272525;
  font-size: 1.6rem;
  font-weight: 800;
}

.fifth__text p {
  color: gray;
  font-size: 11px;
  text-align: justify;
  font-weight: 500;
}

.fifth__text .red {
  margin-top: 2rem;
  color: white;
  background: red;
  padding: 1rem 1.7rem;
  border: none;
  -webkit-transition: color 600ms ease-in-out;
  transition: color 600ms ease-in-out;
}

.fifth__text .red:hover {
  color: red;
  background: white;
  border: 1px solid red;
  cursor: pointer;
  -webkit-transition: background 900ms ease-in-out;
  transition: background 900ms ease-in-out;
}

.fifth__text .white {
  color: red;
  background: white;
  padding: 1rem 1.7rem;
  border: 1px solid red;
  cursor: pointer;
  -webkit-transition: color 600ms ease-in-out;
  transition: color 600ms ease-in-out;
}

.fifth__text .white:hover {
  color: white;
  background: red;
  border: none;
  cursor: pointer;
  -webkit-transition: background 900ms ease-in-out;
  transition: background 900ms ease-in-out;
}

.sixth {
  margin-bottom: 6rem;
  position: relative;
}

.sixth .col {
  background-color: #ddd2d2;
  height: 200px;
  margin: 0rem 0.5rem;
}

.sixth .row .follow {
  position: absolute;
  border-radius: 80px;
  background: rgba(42, 42, 42, 0.8);
  text-align: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 110px;
  line-height: 1.3rem;
}

.sixth .row .follow .hh {
  margin-bottom: -12px;
  margin-top: 18px;
}

.seven {
  background: red;
}

.seven .signing {
  padding: 1rem 4rem;
  text-align: center;
}

.seven p {
  margin: 0;
}

.seven button {
  color: white;
  padding: 1rem 1.7rem;
  background: red;
  border: 2px solid white;
  -webkit-transition: color 600ms ease-in-out;
  transition: color 600ms ease-in-out;
}

.seven button:hover {
  color: red;
  background: white;
  border: 2px solid red;
  cursor: pointer;
  -webkit-transition: background 900ms ease-in-out;
  transition: background 900ms ease-in-out;
}

.eight {
  position: relative;
  background-image: url("/images/23.png");
  height: 300px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.eight::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(14, 13, 13, 0.85);
}

.eight .contact {
  padding: 6rem 7rem;
  position: relative;
  font-size: 12px;
  text-align: center;
}

.eight .contact .pad {
  padding-right: 2rem;
}

.eight .contact .one {
  text-align: initial;
}

.eight__logo img {
  width: 20rem;
}

.eight__office {
  padding-bottom: 2rem;
}

.eight__ends {
  padding-bottom: 3rem;
}

.eight__media .lg {
  width: 16px;
  height: 18px;
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */
