.sixth{
    margin-bottom: 6rem;
    position: relative;
    .col{
        background-color: rgb(221, 210, 210);
        height: 200px;
        margin: 0rem 0.5rem;
    }
    .row{
    .follow{
        .hh{
            margin-bottom: -12px;
            margin-top: 18px
            
        }
        position:absolute;
        border-radius: 80px;
        background: rgba(42,42,42,0.8);
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 110px;
        line-height: 1.3rem;
        }
    }

}